.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: filter 0.3s ease, transform 0.3s ease-in-out;
  padding: 1rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(50%);
  transform: scale(1.2);
}

.menuLink svg {
  width: 3rem;
  height: 3rem;
}
