.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: bold;
  color: var(--primary);
  transition: all 0.2s easy-in-out;
}

.logoLink:hover {
  filter: brightness(50%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
