.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.8rem;
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: var(--text-default);
  outline: none;
  border: 0.2rem solid transparent;
}

.input::focus {
  border: 0.2rem solid var(--success);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}
